---
title: The Law Offices of Carter & Carter
---

<%= image_tag 'hands-on-jail-bars.jpg', class: 'jail' %>

<div class="page-title">
	<div>The Law Offices of</div>
	<h1 class="page-title">
		Carter & Carter
	</h1>
</div>

<p>
	The Law Offices of Carter & Carter engages exclusively in the private practice of criminal law, civil law, employment law, housing law, contracts and juvenile law. Most cases are attended to by both attorneys.
</p>

<blockquote>
	Your freedom is too important to risk choosing a lawyer online or by using the phone book.
</blockquote>

<p>
	Glossy websites and advertisements do NOT guarantee an attorney knows how to provide you with a strong defense. We handle all manner of criminal cases, including drugs, violent crimes, fraud, computer crimes, firearms and weapons, sex crimes, DUI and other driving crimes, expungement, extraditions, bail motions, search motions and every type of misdemeanor or felony case.
</p>

<p>
	When you or your loved one is facing legal trouble, you NEED an attorney who is experienced, intelligent, caring and easy to reach.
</p>

<p>
	We strongly recommend you contact us directly and we will discuss your case with you immediately.  We can set up a meeting with you or talk about your case on the telephone and everything you tell us is privileged and confidential.
</p>
 
<p>
	Since we recognize your criminal matter is important and urgent, you can call us on our personal cell phones anytime, day or night, weekends or holidays.
</p>

<p>
	You can email us as well. We read our email directly and will respond to you immediately.
</p>

<div class="contact">
	<p>
		<b>Stephen C. Carter, Attorney at Law</b><br />
		<a href="tel:7072454728">707-245-4728</a><br />
		<a href="mailto:cartercarterlaw@gmail.com">cartercarterlaw@gmail.com</a>
	</p>

	<p>
		<b>Angela Carter, Attorney at Law</b><br />
		<a href="tel:7072454727">707-245-4727</a>
	</p>
</div>
 
<p>
	Call us to discuss our qualifications, experience, and to get help with your legal matter.
</p>
